<div class="col-10 offset-1">
<h1>About the App</h1>
</div>

 <p>
    <span class="font_style">Can you Relate?</span> was built by <a href="http://github.com/MarcoMorawec">Stallone Dias</a> a web developer, while learning to code.  
  </p>
  <br />
  <p>
    Come back from time to time to read funny relationship quotes :), or feel free to contribute, by adding your own.   
  </p>
  <p>
    If you're interested in learning to code - Start <a target="_blank" href="https://online.bootcampspot.com"> here!</a>.
  </p>

</div>
