<div class="col-10 offset-1 about">
	<h1>About the App</h1>

<p>
    <span class="font_style">Can you Relate?</span> is built to help curate a collection of funny, yet honest relationship quotes.  Each time you visit this site, you'll be greeted with new relationship advise for the soul.   
</p>

<p>
	Drop in from time to time as we'll always adding new quotes, or feel free to share your funny quotes with the world!
</p>

 <p>
 	This app was built by <a href="https://stallonedias.netlify.com/">Stallone Dias</a> a web developer, while learning to code.  
 </p>
 
 <br />

    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'stallone.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Stallone Dias</h2>
      <br />
    <p>
        Having worked within the Customer Service industry for the last 15+ years, I’ve had the privilege of designing scalable support architecture, implementing & managing contact centre and helpdesk software solutions, as well as building frontline support teams for startups across the globe.
	</p>

	<p>
        <a href="https://stallonedias.netlify.com/">Read More!</a>
    </p>
    </div>
  </div>
  <br class="clear" />

    </div>
  </div>

</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
